################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp2.1
/ConsoleApp1/.vs/ConsoleApp1/v15
/.vs
